ul {
  list-style: none;
}

a:not(.text-link) {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: auto;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.name-text-project {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-left: 24px;
  width: 100%;
  border: 1px solid #EEEEEE;
  top: 0;
}

.name-text-project .name-project {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}

.text-project {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
}

.project-item-nav {
  -webkit-transition: -webkit-box-shadow var(--transition-function);
  transition: -webkit-box-shadow var(--transition-function);
  transition: box-shadow var(--transition-function);
  transition: box-shadow var(--transition-function), -webkit-box-shadow var(--transition-function);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: '';
}

.project-item-nav:hover .box-hover-text,
.project-item-nav:focus .box-hover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}

.project-item-nav:hover .name-text-project,
.project-item-nav:focus .name-text-project {
  border-bottom: none;
}

.box-hover-text {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-overlay img {
  width: 100%;
}

.product-overlay:hover,
.product-overlay:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.image {
  height: 294px;
}

.image-content {
  position: relative;
  overflow: hidden;
}

.hover-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: #2196F3;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-section {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 50px;
}

.project-section {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0cm;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-item {
  margin-left: 0px;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  padding-bottom: 94px;
}

.project-item-nav {
  width: calc((100% - 60px)/3);
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-left: 0px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-item-nav:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-section .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 611px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  cursor: pointer;
}

.buttons .button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
}

.buttons:last-child {
  margin-right: 0px;
}

.button {
  color: #212121;
  background-color: #F5F4FA;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  margin-right: 9px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFFFFF;
}

.site-nav-header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-main {
  width: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 85px;
  margin-right: 0px;
  margin-right: 0px;
}

.site-nav-main .item:not(:last-child) {
  margin-right: 52px;
}

.site-nav-main1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 305px;
}

.site-nav-main1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.site-nav-main1 .item + .item {
  margin-left: 30px;
}

.site-nav-main1 .item:hover {
  color: #2196F3;
  fill: #2196F3;
}

.site-nav-main1 .item:hover svg {
  fill: inherit;
}

.link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  color: #2196F3;
}

.link:hover, .link:focus {
  color: #2196F3;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  top: 50px;
  background-color: #2196F3;
  border-radius: 4px;
  opacity: 0;
}

.link.current::after {
  opacity: 1;
}

.email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.email:hover {
  color: #2196F3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.tel:hover {
  color: #2196F3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: #757575;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tel {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  padding-top: 94px;
}

footer {
  background-color: #2F303A;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-text-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  padding-left: 0px;
}

.footer-links .link-bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .link-bg:hover {
  background-color: #2196F3;
}

.footer-links .link-bg .icon-instagram {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-links .link-bg .icon-twitter {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-links .link-bg .icon-fb {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-links .link-bg .icon-linkedin {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-items .email, .footer .footer-items .tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #FFFFFF;
}

.footer-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-box input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2F303A;
  margin-right: 12px;
}

.footer-button {
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.contacts {
  padding-left: 0px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: #2196F3;
}

.logo-web {
  color: #2196F3;
}

footer .logo {
  color: #FFFFFF;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=portfolio.css.map */